i/

# editor backup files
*~

# system logs and caches
.log/
.cache/

# package manager directories
.npm/
.cargo/
.tmux/

# development environment files
.node_repl_history
.rustup/
.dotnet/
.giget/
.wget-hsts
.lldb/
bin/

# session and history files
.bash_logout
.bash_history
.python_history
.lesshst
.motd_shown
.sudo_as_admin_successful
.zoxide.nu

# Docker related files
.docker/

# keys and configuration
.ssh/
.gnupg/

# cloud provider configuration
.aws
.azure

# user-specific configuration
.local/
.z

# editor related files
.vscode-server/
.viminfo

# jupyter lab 
.ipython/
.jupyter/