[user]
	email = hammadmajid@proton.me
	name = Hammad Majid

[core]
	editor = hx

[pull]
	ff = only

[credential "https://github.com"]
	helper =
    helper = !/usr/bin/gh auth git-credential

[init]
	defaultBranch = main
	